body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    justify-content: center;
}

.header-container {
    margin: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 700px;
}

.header-container .logo {
    height: 30px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 0.8rem;
    font-size: 14px;
    padding: 0;
}

.nav-bar ul li {
    transition: 0.3s ease-in-out;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-bar ul .active {
    background-color: var(--hover-color);
    font-weight: 600;
}

.nav-bar ul li a {
    color: var(--font-color);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .header-container {
        width: 100vw;
        margin-block-start: -40px;
        padding: 15px;
    }
.header-container ul {
    gap: 0;
}
.header-container ul li {
    padding: 5px 8px ;
    margin: 0;
}
    .header-container .logo {
        display: none;
    }

    
}
