body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    justify-content: center;
}

.header-container {
    margin: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 700px;
}

.header-container .logo {
    height: 25px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 0.8rem;
    font-size: 14px;
    padding: 0;
    position: relative;
}

.nav-bar ul li {
    display: flex;
    border-radius: 8px;
    position: relative;
    z-index: 1;
}

.nav-bar ul .active-indicator {
    position: absolute;
    background-color: var(--hover-color);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    height: 100%;
}

.nav-bar ul li a {
    transition: 0.3s ease-in-out;
    padding: 4px 13px;
    cursor: pointer;
    color: var(--font-color);
    text-decoration: none;
    position: relative;
    z-index: 2;
}

.nav-bar ul li.active a {
    font-weight: 600;
}

.header-container i{
    color: var(--lighter-font);
    font-weight: 100;
    font-size: 20px;
    
}

@media screen and (max-width: 768px) {
    .header-container {
        width: 100vw;
        margin-block-start: -40px;
        padding: 15px;
    }
.header-container ul {
    gap: .7rem;
}
.header-container ul li a{
    padding: 5px 8px ;
    margin: 0;
}
    .header-container .logo-link {
        display: none;
    }

    
}
