.home-container {
    margin: auto;
    display: flex;
    text-align: left;
    padding: 1.3rem;
    place-items: center;
    flex-direction: column;
    gap: 2em;
}

/* Hero Section */

.hero-container h1 {
    font-size: 30px;
    font-weight: 500;
    color: var(--lighter-font);
    margin-bottom: 0;
}

.hero-container p {
    font-weight: 400;
    width: 80%;
}
.availability-status{
    display: flex;
    place-items: center;
    margin-top: 10px;
    font-size: 12px;
    gap: .3rem;
}
.availability-status i{
    font-size: 14px;
    color: rgb(13, 255, 13);
    animation: heartbeat 1.5s infinite ease-in-out;
}
.platform-link-btns {
    display: flex;
    gap: 1em
}

.github,
.vercel,
.resume-download {
    display: flex;
    background-color: var(--hover-color);
    padding: 3px 15px;
    border-radius: 8px;
    cursor: pointer;
    place-items: center;
}
.resume-download{
    gap: .6rem;
}
.github a,
.vercel a,
.resume-download a {
    color: var(--lighter-font);
    font-weight: 400;
}

.github i,
.vercel i{
    font-size: 14px;
    font-weight: 200px;
    color: rgb(134, 134, 134);
}
.resume-download i {
    font-size: 16px;
    background: var(--bg-color);
    padding: 1px;
    font-weight: 700px;
    border-radius: 50%;

}

/* Portfolio */
.portfolio-elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.portfolio-container h1,
.blog-container h1,
.skill-container h1,
.contact-container h1 {
    color: var(--lighter-font);
    font-weight: 450;
    font-size: 18px;
}

.proj-container {
    max-width: 700px;

}

.proj-container a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.proj-img {
    display: block;
    background-color: var(--hover-color);
    border-radius: 16px;
    overflow: hidden;
    padding: 10px;
    width: 95%;
}

.proj-img img {
    display: block;
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
}

.proj-title {
    font-weight: 450;
    color: var(--lighter-font);
}

.proj-desc {
    font-weight: 400;
}

.title-desc {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}


/* Skills */
.skill-container {
    width: 100%;
}

.skill-container p,
.contact-container p {
    width: 60%;
}

.skill-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}

.skill-item {
    display: flex;
    place-items: center;
    border: 1.5px solid var(--hover-color);
    border-radius: 8px;
    gap: .5rem;
    padding: 2px 5px;
}

.skill-item img {
    width: 30px;
}

.skill-info {
    display: flex;
    flex-direction: column;
}

.skill-info .skill-desc {
    font-size: 12px;
}

/* Contact form */
.contact-container{
    display: block;
    flex-direction: column;
    justify-content: left;
    margin: auto;
    width: 100%;

}
.contact-info{
    display: flex;
    gap: 1rem;
    width: 100%;}
.email ,
.phone {
    display: flex;
    gap: .5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
        width: 97%;
        margin-right: 15px;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
}
.name-email-field{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.contact-form input,
.contact-form textarea {
    border: none;
    width: 100%;
    display: flex;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 16px;
    background: var(--hover-color);
    color: var(--font-color);
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    opacity: 0.3;
}


.contact-form textarea {
    min-height: 100px;
}

.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-submit button {
    transition: all 0.3s ease-in-out;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    background-color: var(--lighter-bg);
    cursor: pointer;
    font-size: 16px;
    color: white;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    min-width: 120px;
}
.sent-text{
    display: flex;
    place-items: center;
    gap: 0.3em;
}

.btn-submit button:disabled {
    cursor: not-allowed;
}

.loader {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 3px solid white;
    animation: spin 1s linear infinite;
}

.checkmark {
    font-size: 18px;
    animation: fadeIn 0.3s ease-in-out;
    color: #4CAF50;
    border-radius: 50%;
    background: #636363;
    width: 30px;
    height: 30px;
    
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn-submit button:hover {
    transition:  .3s ease;
    transform: scale(1.1);
}




@media screen and (max-width: 768px) {
    .home-container
{
            width: 90vw;
    }  

        .hero-container p {
            width: 100%;
        }

 .skill-items {
     grid-template-columns: 1fr;
 }
 .skill-container p,
 .contact-container p {
     width: 70%;
 }
 .name-email-field{
    grid-template-columns: repeat(1,1fr);
    gap: 1em;
 }
 .btn-submit{
    display: flex;
    justify-content: center;

 }

 .btn-submit button{
    width: 50%;
    border-radius: 15px;
 }
    
}

@media screen and (max-width: 466px){
    .contact-info{
        flex-direction: column;
    }
    .contact-container p{
        width: 100%;
    }
    
}
    
@media screen and (max-width: 450px) {
    .portfolio-elements{
            grid-template-columns: 1fr;
    }
         .skill-container p,
                 .contact-container p {
             width: 100%;
         }


}