:root {
  font-family: 'Geist', sans-serif;  line-height: 1.5;
  font-weight: 400;
  

 
  --font-color: #c7c7c7;
  --bg-color: #0c0c0c;
  --hover-color: #242424;
  --lighter-font: #e6e6e6;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.light-theme {
  transition: 0.7s ease-in-out;
  --hover-color:rgba(0, 0, 0, 0.068);
  --font-color: #5a5a5a;
  --bg-color: #fff;
  --lighter-font: #242424;
}

body {
  transition: 0.7s ease-in-out;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;

}

body::-webkit-scrollbar {
  display: none;
}
a{
  text-decoration: none;
  color: var(--font-color);
}